body {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
  outline: none;
}

a {
  color: #fff;
}

a:hover, a:focus, a:active, a.active {
  color: #fff;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* image centered class */
.img-centered {
  margin: 0 auto;
}

/* text centered class */
.text-center {
  text-align: center;
}

/* DESCRIPTION LISTS */
dt {
  font-weight: bold;
  text-decoration: underline;
  }

dd {
  margin: 0;
  padding: 0 0 0.5em 0;
  }

/* UNORDERED LISTS STYLE */
ul {
  list-style-type: none;
  margin:0;
  padding:0;
}  

#list-1 ul,
#list-2 ul,
#list-3 ul,
#list-4 ul,
#list-5 ul,
#list-6 ul,
#list-7 ul,
#list-8 ul,
#list-9 ul,
#list-10 ul,
#list-11 ul,
#list-12 ul,
#list-13 ul,
#list-14 ul,
#list-15 ul
 {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  white-space: pre-line;
}

#list-1 ul > li,
#list-2 ul > li,
#list-3 ul > li,
#list-4 ul > li,
#list-5 ul > li,
#list-6 ul > li,
#list-7 ul > li,
#list-8 ul > li,
#list-9 ul > li,
#list-10 ul > li,
#list-11 ul > li,
#list-12 ul > li,
#list-13 ul > li,
#list-14 ul > li,
#list-15 ul > li
 {
  padding: 60px;
  margin-top: -60px;
  display: inline-block;
}

/* home */
#list-1 ul > li{ 
  background: url('../img/svg/home.svg') no-repeat left center;
}
/* dog-food */
#list-2 ul > li {
  background: url('../img/svg/dog-food.svg') no-repeat left center;
}
/* bone */
#list-3 ul > li {
  background: url('../img/svg/bone.svg') no-repeat left center;

}
/* pill */
#list-4 ul li {
  background: url('../img/svg/medical.svg') no-repeat left center;
}
/* ball */
#list-5 ul li {
  background: url('../img/svg/ball.svg') no-repeat left center;
}
/* airplane */
#list-6 ul li {
  background: url('../img/svg/airplane.svg') no-repeat left center;
}
/* lock */
#list-7 ul li { 
  background: url('../img/svg/lock.svg') no-repeat left center;
}
/* walking-the-dog */
#list-8 ul li {
  background: url('../img/svg/walking-the-dog.svg') no-repeat left center;
}

#list-9 ul li {
  background: url('../img/svg/cat.svg') no-repeat left center;
}
#list-10 ul li {
  background: url('../img/svg/dog-food.svg') no-repeat left center;
}
#list-11 ul li {
  background: url('../img/svg/walking-the-dog.svg') no-repeat left center;
}
#list-12 ul li {
  background: url('../img/svg/medical.svg') no-repeat left center;
}
#list-13 ul li {
  background: url('../img/svg/poo.svg') no-repeat left center;
}
#list-14 ul li {
  background: url('../img/svg/plant.svg') no-repeat left center;
}
#list-15 ul li {
  background: url('../img/svg/lock.svg') no-repeat left center;
}

#icon {
  padding-bottom: 100px;
}
a.svg {
  position: relative;
  display: inline-block; 
}
a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

#main-nav ul{
  margin:0;
}
#main-nav a {
  padding: 100px 20px; 
  display:inline-block;
}

.navbar {
  background-color: black;
  color: black;
  border: black;
}

 .navbar a {
  color: #0047b3;
}

/* navbar links */
.navbar-brand,
.navbar-nav li a {
  line-height: 75px;
  height: 75px;
  padding: 0px 20px; 
  display:inline-block;
}

/* hamburger menu */
.navbar-toggle {
  line-height: 75px;
  margin-top: 20px;
}

.navbar-brand {
  padding: 15px;
}

.navbar-nav>li>a {
  padding-top: -20px;
}

.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #0C545E;
  border-color: #0C545E;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #0C545E;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  background-color: #fec503;
}

header {
  background-image: url('../img/header-bg-4_small.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  margin-top: 60px
  z-index: -100;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  display: block;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
}

header a.page-scroll{
  background-color: black;
  padding: 10px 10px 10px 10px;
}

section#about, section#fees {
  background-color: #0C545E;
  color: #fff;
}  
#about .team-member {
    padding: 50px;
}

section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 15px;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#contact {
  margin-bottom: -150px;
}


#photo {
  background-image: url('../img/header-bg-2_small.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 20px;
  height: 500px;
}

#photo2 {
  background-image: url('../img/cat_small.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 500px;
}

/* MAP CONTAINER */
#map-container { 
  height: 400px;
  width: 95%;
  margin: 0 auto; 
}


.footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}

.footer h3 {
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
}

.footer ul, .footer p {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}

#psi-logo {
  padding-top: 30px;
}

#footer-4 {
  padding-top: 30px;
  padding: 10px;
}
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}


/**** Extra Small ****/
@media (max-width: 767px) {
  header .intro-text .intro-heading {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  #photo, #photo2 {
    height: 300px;
  }

  /* MAP CONTAINER */
  #map-container { 
    height: 300px;

  }

  #list-1 ul,
  #list-2 ul,
  #list-3 ul,
  #list-4 ul,
  #list-5 ul,
  #list-6 ul,
  #list-7 ul,
  #list-8 ul,
  #list-9 ul,
  #list-10 ul,
  #list-11 ul,
  #list-12 ul,
  #list-13 ul,
  #list-14 ul,
  #list-15 ul {
    text-align: center;
    padding: 10px;
    padding-left: 30px;
  }
}

/**** Small ****/
@media (min-width: 768px) and (max-width: 991px) {
  /* header */
  header {
    height: 600px;
  }

  header .intro-text {
    padding-top: 200px;
    padding-bottom: 50px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 50px;
  }

  .navbar-brand,
  .navbar-nav li a {
    padding: 0px 10px; 
  }
  .navbar-brand {
    padding: 15px;
  }
  
  /* section */
  section {
    padding: 150px 0;
  }

  #photo, #photo2 {
    height: 300px;
  }
}

/**** Medium ****/
@media (min-width: 992px) and (max-width: 1199px) {
  header {
    height: 600px;
  }

  header .intro-text {
    padding-top: 200px;
    padding-bottom: 50px;
  }

  header .intro-text .intro-heading {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
  }

  header .intro-text {
    padding-top: 200px;
    padding-bottom: 50px;
  }

  #photo, #photo2 {
    height: 500px;
  }

  #about .team-member {
    padding-left: 100px;
    padding-right: 100px;
  }

}

/**** Large ****/
@media (min-width: 1200px) {
  header {
    height: 700px;
    margin-bottom: 50px;
  }

  header .intro-text {
    padding-top: 200px;
    padding-bottom: 50px;
  }

  header .intro-text .intro-heading {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
  }

  #about .team-member {
    padding-left: 150px;
    padding-right: 150px;
  }

}





